.App {
  text-align: center;
}

.container {
  margin-top: 70px;
}

.Header {
  color: #443e3e;
  text-shadow: 9px 3px 13px #fff;
  font-family: 'Bungee Inline', cursive;
  font-size: 5.0rem;
}

ul {
  list-style-type: none;
}